body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    background-image: url(../estoques/img/fundo.png);
    font-family: Bookman, URW Bookman L, serif;
}

.Banner {
    height: 125px;
    width: 400px;
    text-align: center;
    font-size: 25px;
    background-color: rgb(31, 139, 143);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: white;
}

.form-container {
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    background-color: rgb(31, 139, 143);
    border-radius: 10px;
    color: white;
}

.form-container label {
    margin-top: 15px;  
}

.btn {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 15px 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-verde {
    background-color: green;
}

.btn-laranja {
    background-color: orange;
}

.btn-vermelho {
    background-color: red;
}

.form-container input[type="text"] {
    border: none;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    transition: background-color 0.5s;
}

.form-container input[type="text"]:focus {
    outline: none;
    background-color: lightblue;
}

.btn-verde,
.btn-laranja,
.btn-vermelho {
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

.btn-verde:hover,
.btn-laranja:hover,
.btn-vermelho:hover {
    background-color: lightblue;
    color: black;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-group label {
    margin-right: 10px;
}

.input-group input {
    border: none;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    transition: background-color 0.5s;
}

.input-group input:focus {
    outline: none;
    background-color: lightblue;
}
